GROQ_API_KEY=your_groq_key_here
NVIDIA_API_KEY=your_nvidia_embedding_model_key_here
GEMINI_API_KEY=your_gemini_key_here
GEMINI_CHAT_MODEL=your_gemini_chat_model_name_here
GROQ_CHAT_MODEL=your_groq_chat_model_name_here
EMBEDDING_MODEL=your_embedding_model_name_here
EMBEDDING_MODEL_URL=your_embedding_model_url_here
EMBEDDING_MODEL_DIMENSION=your_embedding_model_dimension_here
QDRANT_PATH=./data/qdrant_db
SQLITE_CONNECTION_PATH=./data/sqlite_connection_path.db
TAVILY_API_KEY=your_tavily_api_key_here
RECENT_MESSAGES_LIMIT=your_recent_messages_limit_here
